*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#0f172a;
    color:white;
    height:100vh;
}
/* -------- LOGIN -------- */
.login-container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}
.login-card{
    width:100%;
    max-width:400px;
    background:#1e293b;
    padding:30px;
    border-radius:15px;
}
.login-card h1{
    text-align:center;
    margin-bottom:10px;
}
.login-card p{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:20px;
}
.login-card input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
    outline:none;
    background:#334155;
    color:white;
}
.login-card button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
}
.login-card button:hover{
    background:#1d4ed8;
}
/* -------- CHAT -------- */
.chat-container{
    display:flex;
    flex-direction:column;
    height:100vh;
}
.chat-header{
    background:#1e293b;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.chat-header button{
    border:none;
    background:#ef4444;
    color:white;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
}
/* -------- MESSAGES -------- */
.messages{
    flex:1;
    overflow-y:auto;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.message{
    max-width:75%;
    padding:12px 15px;
    border-radius:16px;
    word-wrap:break-word;
}
.me{
    align-self:flex-end;
    background:#2563eb;
    color:white;
    border-bottom-right-radius:5px;
}
.other{
    align-self:flex-start;
    background:#334155;
    color:white;
    border-bottom-left-radius:5px;
}
/* -------- ZONE MESSAGE -------- */
.message-box{
    display:flex;
    gap:10px;
    padding:15px;
    background:#1e293b;
}
.message-box input{
    flex:1;
    padding:14px;
    border:none;
    border-radius:10px;
    outline:none;
    background:#334155;
    color:white;
}
.message-box button{
    border:none;
    background:#2563eb;
    color:white;
    padding:0 20px;
    border-radius:10px;
    cursor:pointer;
}
/* -------- MESSAGE ERREUR LOGIN -------- */
#message{
    margin-top:15px;
    text-align:center;
    color:#f87171;
}
